<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="fragments/header :: header"></head>
<body>
<div class="container">
    <nav th:insert="fragments/navbar :: navbar"></nav>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Имя</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="film: ${films}">
                <td th:text="${film.id}"/>
                <td th:text="${film.name}"/>
            </tr>
            </tbody>
        </table>
    </div>
    <footer th:include="fragments/footer :: footer"></footer>
</div>

</body>
</html>