<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:include="fragments/header :: header"></head>
<body>
<div class="container-fluid p-0">
    <nav th:insert="fragments/navbar :: navbar"></nav>
    <div class="container mt-2">
        <h3>Проект job4j_cinema</h3>
        <ul>
            <li><a th:href="@{/session}">Расписание</a></li>
            <li><a th:href="@{/films}">Кинотека</a></li>
            <li><a th:href="@{/users/login}">Регистрация/Вход</a></li>
        </ul>
    </div>
    <footer th:include="fragments/footer :: footer"></footer>
</div>

</body>
</html>